.App {
  text-align: center;
}


.to-do-list
{
  background-image: url('./background.jpg');
  background-size: cover;
  height:98vh;
  text-align: center;
}

.to-do-list-add
{
  background-color:purple;
  border:solid 2px pink;
  border-radius:0.4vw;
  color:pink;
  margin-left:0.5vw;
  cursor:pointer;
}
.to-do-list-add:hover
{
  background-color:pink;
  border-color:purple;
  color:purple; 
}

.to-do-list-input
{
  border:solid 2px darkblue;
  border-radius:0.5vw;
}

.to-do-list-title
{
  color:purple;
  font-size:7vh;
  text-shadow:2px 2px pink;
  margin:2vh;
}

.to-do-list-delete
{
  background-color:purple;
  border:solid 2px pink;
  border-radius:0.4vw;
  color:pink;
  margin-right:0.5vw;
  cursor:pointer;
}
.to-do-list-delete:hover
{
  background-color:pink;
  border-color:purple;
  color:purple;
}

.to-do-list-item
{
  display:inline-block;
  background-color: transparent;
  border:none;
  color:darkmagenta;
  width:20vw;
  text-align:left;
}

.to-do-list-status-active
{
  background-color:darkblue;
  border:none;
  border-radius:0.5vw;
  color:cyan;
  width:5vw;
  cursor:pointer;
}
.to-do-list-status-active:hover
{
  color:pink;
}

.to-do-list-status-done
{
  background-color:blue;
  border:none;
  border-radius:0.5vw;
  color:cyan;
  width:5vw;
  cursor:pointer;
}
.to-do-list-status-done:hover
{
  color:pink;
}